#captcha {
	width: 50%;
	
	position: absolute;
	left: 50%;
	top: 50%;
	
	padding: 15px;
	
	border: 2px solid #999;
	outline: 0;
	
	color: #666;
	font-size: 17px;
		
	transform:  translateX(-50%)
				translateY(-50%);
	
	transition: all 0.3s ease;
}
#captcha.correct {
	border-color: #088a3a;
	
}